.products {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	.toolbar {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		&__buttons {
			display: flex;
			gap: 0.5rem;
			.tab-btn {
				background-color: #fff;
				padding: 0.5rem;
				font-size: 18px;
				cursor: pointer;
			}
			.tab-btn:hover {
				color: #ff9500;
			}
			.tab-btn.active {
				border-bottom: #ff9500 1px solid;
				color: #ff9500;
			}
		}
		&__tab {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding: 1rem;
			border-radius: 12px;
			border: #ff9500 1px solid;
			max-width: fit-content;
			min-height: 65px;
		}
	}
	.table {
		display: grid;
		grid-template-rows: 1fr;
		gap: 0.5rem;
		min-width: 100%;
		&__row {
			display: grid;
			grid-template-columns: 3fr 12fr 9fr 1fr 1fr;
			min-width: 100%;
			padding: 0.5rem;
			box-shadow: #3e3e3e5f 1px 1px 1px 1px;
			align-items: center;
			:first-child {
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		&__headers {
			box-shadow: none;
			font-weight: 700;
			border-bottom: 1px solid #3e3e3e;
			padding: 0.7rem;
			min-height: 50px;
			span {
				display: flex;
				align-items: center;
				gap: 1rem;
				cursor: pointer;
				user-select: none;
				mat-icon {
          rotate: (0deg);
          opacity: 0.5;
          transition: 0.1s;
        }
        mat-icon.direction-asc {
          rotate: (0deg);
          opacity: 1;
          transition: 0.1s;
        }
        mat-icon.direction-desc {
          rotate: (180deg);
          opacity: 1;
          transition: 0.1s;
        }
			}
		}
	}
}

.empty-table {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  h1 {
    font-weight: 400;
  }
}

.loader {
  position: relative;
  font-size: 16px;
  width: 5.5em;
  height: 5.5em;
}

.loader:before {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 100%;
  width: 4px;
  background: #3e3e3e;
  left: 50%;
  top: 50%;
}

.loader:after {
  content: '';
  position: absolute;
  left: 0.2em;
  bottom: 0.18em;
  width: 1em;
  height: 1em;
  background-color: #FF9500;
  border-radius: 15%;
  animation: rollingRock 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
}

@keyframes rollingRock {
  0% {
    transform: translate(0, -1em) rotate(-45deg)
  }

  5% {
    transform: translate(0, -1em) rotate(-50deg)
  }

  20% {
    transform: translate(1em, -2em) rotate(47deg)
  }

  25% {
    transform: translate(1em, -2em) rotate(45deg)
  }

  30% {
    transform: translate(1em, -2em) rotate(40deg)
  }

  45% {
    transform: translate(2em, -3em) rotate(137deg)
  }

  50% {
    transform: translate(2em, -3em) rotate(135deg)
  }

  55% {
    transform: translate(2em, -3em) rotate(130deg)
  }

  70% {
    transform: translate(3em, -4em) rotate(217deg)
  }

  75% {
    transform: translate(3em, -4em) rotate(220deg)
  }

  100% {
    transform: translate(0, -1em) rotate(-225deg)
  }
}