.expenses-block {
	margin: 3rem;
	padding: 0.4rem;
	font-family: "Montserrat", sans-serif;
	display: flex;
	flex-direction: column;
	background-color: #3e3e3e;
	//#3e3e3e #ff9500
	border-radius: 6px;
	p,
	span {
		margin: 0.5rem;
		color: #fff;
	}
	p {
		font-weight: 800;
		font-size: 18px;
	}
	.expenses-charts {
		min-width: 100%;
		display: flex;
		justify-content: space-around;
		canvas {
			max-width: 300px;
			max-height: 300px;
			background-color: #fff;
			margin: 1rem;
			padding: 0.4rem;
			border-radius: 4px;
		}
	}
}
