<div class="register-page">
	<div class="register" [@slideIn]>
		<div class="logo">
			<mat-icon>inventory_2</mat-icon>
			<span>Stockmate</span>
		</div>
		<input type="text" placeholder="Логин">
		<input type="password" placeholder="Пароль">
		<input type="password" placeholder="Повторите пароль">
		<br>
		<input type="text" placeholder="Имя">
		<input type="text" placeholder="Фамилия">
		<input type="text" placeholder="Компания">
		<input type="phone" [placeholder]="+79009999999">
		<input type="email" placeholder="email">
		<button>Зарегестрироваться</button>
		<span>Уже есть аккаунт? <a routerLink="/login">Войти</a></span>
	</div>
</div>
