.dashboard {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	.tabs-menu {
		max-width: 40%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		button {
			cursor: pointer;
			padding: 1rem;
			font-size: 20px;
			background-color: rgba(0,0,0,0);
			color: #3e3e3e;
			transition: 0.5s;
		}
		button:hover {
			transition: 0.5s;
			color: #ff9500;
		}
		button.active {
			border-bottom: #ff9500 solid 1px;
			color: #ff9500;
		}
	}
	.content {
		width: 100%;
	}
}