<div class="side-menu" *ngIf="showMenu">
  <a href="/" class="side-menu__logo">
    <mat-icon>inventory_2</mat-icon>
    <span href="/home">Stockmate</span>
  </a>
  <div class="side-menu__block side-menu__profile">
    <ul>
      <li>
        <a routerLink="/profile"
        [ngClass]="buttonValue === 'profile' ? 'active-button' : null"
        (click)="setButtonValue('profile')"
        ><mat-icon>portrait</mat-icon>Профиль</a>
      </li>
      <li>
        <a href="/"><mat-icon>logout</mat-icon>Выход</a>
      </li>
    </ul>
  </div>
  <div class="side-menu__block side-menu__navbar">
    <ul>
      <li>
        <a 
        routerLink="/dashboard"
        [ngClass]="buttonValue === 'dashboard' ? 'active-button' : null"
        (click)="setButtonValue('dashboard')"
        ><mat-icon>dashboard</mat-icon>Главная</a
        >
      </li>
      <li>
        <a routerLink="/inventory"
        [ngClass]="buttonValue === 'inventory' ? 'active-button' : null"
        (click)="setButtonValue('inventory')"
        ><mat-icon>list_alt</mat-icon>Инвентарь</a>
      </li>
      <li>
        <a routerLink="/orders"
        [ngClass]="buttonValue === 'orders' ? 'active-button' : null"
        (click)="setButtonValue('orders')"
        ><mat-icon>grading</mat-icon>Заявки</a>
      </li>
      <li>
        <a routerLink="/storages"
        [ngClass]="buttonValue === 'storages' ? 'active-button' : null"
        (click)="setButtonValue('storages')"
        ><mat-icon>other_houses</mat-icon>Склады</a>
      </li>
    </ul>
  </div>
</div>
