

mat-icon {
	color:#FF9500;
	fill: none;
}
.side-menu {
	padding: 0.6rem;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #3E3E3E;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-around;
	transition-delay: 0.2s;
	&__logo {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
		gap: 0.5rem;
		a {
			height: 1.5rem;
			gap: 0.5rem;
			display: flex;
			align-items: center;
			span {
				font-size: 26px;
				color: #FF9500;
				transform-origin: left;

			}
		}
		:last-child {
			font-size: 28px;
		}
	}
	.side-menu__block {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		ul {
			width: 100%;
			li {
				margin-top: 0.3rem;
				a {
					border-radius: 6px;
					display: flex;
					gap: 2rem;
					padding: 1rem;
					transition: 0.4s;
					span {
						color: #fff;
						font-size: 18px;
						transition: 0.2s;
						max-height: auto;
						max-width: 80%;
						transform-origin: left;
					}
				}
				a:hover {
					border-radius: 12px;
					background-color: #FF9500;
					transition: 0.4s;
					mat-icon {
					transition: 0.4s;
					color:#3E3E3E
					}
				}
			}
		}
	}
	.lock-menu {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		mat-icon {
			margin: 1rem;
		}
	}
}

.active-button {
	background-color: #FF9500;
	transition: 0.4s;
	mat-icon {
		color: #3E3E3E
	}
}

.hidden {
	transition: all 0.5s;
	span {
		transform-origin: right;
		transform: scaleX(0);
		animation: span 0.2s;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		margin: 0;
		padding: 0;
		transition: 0.2s;
	}
}