<div class="login-page">
	<form [formGroup]="loginForm" (ngSubmit)="submitLogin()" class="login" [@slideIn]>
		<div class="logo">
			<mat-icon>inventory_2</mat-icon>
			<span>Stockmate</span>
		</div>
		<input formControlName="login" type="text" placeholder="Логин">
    <p *ngIf="this.loginForm.get('login')?.invalid && this.loginForm.get('login')?.touched" class="input-warning">Введите логин</p>
		<input formControlName="password" type="password" placeholder="Пароль">
    <p *ngIf="this.loginForm.get('password')?.invalid && this.loginForm.get('password')?.touched" class="input-warning">Введите пароль</p>
		<button type="submit" [disabled]="loginForm.invalid || loginForm.disabled">Войти</button>
		<span>Нет аккаунта? <a routerLink="/register">Зарегистрироваться</a></span>
	</form>
</div>
