span, p, a, button {
  color: #3e3e3e;
}
.login-page {
  margin-left: -6vw;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  .login-fields {
    height: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .sign-in-header {
      color: #ff9500;
      font-size: 32px;
    }
    .input-warning {
      height: 8px;
      font-size: 16px;
      opacity: 0;
      color: #ff006e;
    }
    .input-warning.shown {
      opacity: 1;
    }
    input {
      min-width: 50%;
      padding: 0.5rem;
      border-bottom: #3e3e3e 1px solid;
    }
    button {
      transition: 0.2s;
      background-color: #ff9500;
      min-width: 50%;
      border-radius: 6px;
      padding: 1rem;
      color: #fff;
      font-size: 14px;
    }
    button:disabled {
      transition: 0.2s;
      color: #5e5e5e;
      background-color: #3e3e3e;
    }
    a {
      color: #ff9500;
    }
  }
  .stockmate-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 100%;
    background-color: #ff9500;
    border-bottom-left-radius: 20%;
    &__logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      p {
        font-size: 42px;
      }
      mat-icon {
        color: #3e3e3e;
        width: fit-content;
        height: fit-content;
        font-size: 122px;
      }
    }
    .motto {
      color: #fff;
      font-size: 14px;
      text-align: center;
    }
  }
}