.stocks-chart {
	display: flex;
	flex-direction: column;
	margin: 1rem;
	&__content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		.chart-block {
			padding: 0.2rem;
			box-shadow: #00000043 5px 5px 5px 5px;
			max-height: max-content;
			&__options {
				display: flex;
				justify-content: space-between;
				gap: 1rem;
				mat-form-field {
					width: 100%;
				}
			}
			&__chart {
				max-width: 100%;
				max-height: 480px;
				margin: 1rem;
			}
		}
	}
}