<app-preloader *ngIf="isLoading"></app-preloader>
<div class="stocks-chart">
	<div class="stocks-chart__title" appPageHeader>
		Статистика по остаткам
	</div>
	<div class="stocks-chart__content">
		<div class="chart-block">
			<mat-form-field>
				<mat-label>Склад</mat-label>
				<mat-select value="">
					<mat-option value="">Все</mat-option>
					<mat-option *ngFor="let storage of storagesList" [value]="storage"> {{ storage }} </mat-option>
				</mat-select>
			</mat-form-field>
			<canvas class="chart-block__chart"
			baseChart
				#stocksChart
			></canvas>
		</div>
		<div class="chart-block">
			<canvas class="chart-block__chart"
			baseChart
			#stocksChart
				></canvas>
	</div>
	</div>
</div>