<div class="profile">
  <div
    class="profile__avatar"
    (mouseenter)="changeAvatarButton = 'active'"
    (mouseleave)="changeAvatarButton = null"
  >
  <img
  [src]="'https://stockmate-back.onrender.com' + user.avatar || 'https://i.iheart.com/v3/url/aHR0cHM6Ly9hc3NldHMucG9kb21hdGljLm5ldC90cy9kNS82My9hMi9jb2Rlbm5pa2Jha2h0MS8zMDAweDMwMDBfMTU2ODk4NDguanBn'"
  alt="avatar"
  />
  <input type="file" class="dn" #input (change)="onFileUpload($event)"/>
  <button
  (click)="handleClickAvatar()"
  class="profile__avatar__change-avatar-button"
  [ngClass]="changeAvatarButton"
  >
  <mat-icon>add</mat-icon>
</button>
</div>
<div class="pofile__info">
    <div *ngIf="isErrorDisplay" class="upload-error">{{uploadError}} <mat-icon class="error-close" (click)="this.isErrorDisplay = false">close</mat-icon></div>
    <p class="profile__info__company-name">{{ user.company }}</p>
    <ul class="profile__info__details">
      <li>
        <span>{{ user.firstName }}</span>
      </li>
      <li>
        <span>{{ user.lastName }}</span>
      </li>
      <li>
        Телефон: <span>{{ user.phone ? user.phone : "не указано" }}</span>
      </li>
      <li>
        email: <span>{{ user.email ? user.email : "не указано" }}</span>
      </li>
    </ul>
  </div>
</div>
