<div class="preloader" *ngIf="isLoading">
  <app-preloader></app-preloader>
</div>
<div class="profile" *ngIf="!isLoading">
  <div
    class="profile__avatar"
    (mouseenter)="changeAvatarButton = 'active'"
    (mouseleave)="changeAvatarButton = null"
  >
    <img [src]="avatarPath" alt="avatar" />
    <input type="file" class="dn" #input (change)="onFileUpload($event)" />
    <button
      (click)="handleClickAvatar()"
      class="profile__avatar__change-avatar-button"
      [ngClass]="changeAvatarButton"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="pofile__info" *ngIf="!isEditingProfile; else editingWindow">
    <div *ngIf="isErrorDisplay" class="upload-error">
      {{ uploadError }}
      <mat-icon class="error-close" (click)="this.isErrorDisplay = false"
        >close</mat-icon
      >
    </div>
    <p class="profile__info__company-name">
      {{ user.company }}
      <mat-icon
        class="edit-button"
        [class]="isEditingProfile ? 'active-button' : null"
        (click)="editProfile()"
        >edit</mat-icon
      >
    </p>
    <ul class="profile__info__details">
      <li>
        <span>{{ user.firstName }}</span>
      </li>
      <li>
        <span>{{ user.lastName }}</span>
      </li>
      <li>
        <span>Телефон: {{ user.phone ? user.phone : "не указано" }}</span>
      </li>
      <li>
        <span>email: {{ user.email ? user.email : "не указано" }}</span>
      </li>
    </ul>
  </div>
  <ng-template #editingWindow>
     <div class="profile__editing_window">
        <ul class="profile__editing_window__details">
          <li>
            <input type="text" class="company_name_input" placeholder="Название компании">
          </li>
          <li>
            <input type="text" placeholder="Имя">
          </li>
          <li>
            <input type="text" placeholder="Фамилия">
          </li>
          <li>
            <input type="phone" placeholder="Номер телефона">
          </li>
          <li>
            <input type="email" placeholder="email">
          </li>
          <li>
            <mat-icon>done</mat-icon>
            <mat-icon (click)="isEditingProfile = false">close</mat-icon>
          </li>
        </ul>
     </div>
  </ng-template>
</div>
