.inventory {
  padding: 1rem;
  min-height: 100vh;
  min-width: 100%;
  .title {
    font-size: 24px;
    margin: 1rem;
    color: #ff9500;
  }
  .toolbar {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    margin-bottom: 1rem;
    .btn {
      font-size: 18px;
      background-color: #fff;
      padding: 1rem;
    }
    .btn.active {
      border-bottom: #ff9500 1px solid;
    }
  }
  .tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 50%;
    input {
      border-bottom: 1px #d3d3d3 solid;
      padding: 0.5rem;
    }
  }
  .inventory-table {
    min-height: 100%;
    min-width: 100%;
    .table-header {
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* for human beings */
      cursor: pointer;
      mat-icon {
        position: absolute;
        vertical-align: -webkit-baseline-middle;
        vertical-align: middle;
        transition: 0.2s;
      }
      mat-icon.shown {
        transition: 0.2s;
        opacity: 1;
      }
      mat-icon.hidden {
        opacity: 0;
      }
    }
  }
  .inventory-paginator {
    min-width: 100%;
    position: relative;
    bottom: 0;
  }
}
.request-error {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #472228;
  border-radius: 15px;
  padding: 1rem;
  color: white;
  background-color: #25171c;
}
.error-close {
  color: white;
}
.input-warning {
  height: 16px;
  font-size: 14px;
  opacity: 0;
  color: #ff006e;
}
.input-warning.shown {
  opacity: 1;
}
