.inventory {
	padding: 1rem;
	min-height: 100vh;
	min-width: 100%;
	.title {
		font-size: 24px;
		margin: 1rem;
		color: #FF9500;
	}
	.inventory-table {
		min-height: 100%;
		min-width: 100%;
		.table-header {
		-webkit-touch-callout: none; /* iOS Safari */
			-webkit-user-select: none; /* Safari */
			 -khtml-user-select: none; /* Konqueror HTML */
				 -moz-user-select: none; /* Old versions of Firefox */
					-ms-user-select: none; /* Internet Explorer/Edge */
							user-select: none; /* for human beings */
			cursor: pointer;
			mat-icon {
				position: absolute;
				vertical-align: -webkit-baseline-middle;
				vertical-align: middle;
				transition: 0.2s;
			}
			mat-icon.shown {
				transition: 0.2s;
				opacity: 1;
			}
			mat-icon.hidden {
				opacity: 0;
			}
		}
	}
	.inventory-paginator {
		min-width: 100%;
		position: relative;
		bottom: 0;
	}
}