<app-preloader *ngIf="isLoading"></app-preloader>
<div *ngIf="!isLoading" class="inventory">
  <div class="header">
    <p class="title" appPageHeader>Остатки</p>
    <div class="toolbar">
      <button class="toolbar__button"
      (click)="isAddingNewPosition = !isAddingNewPosition"
      >
        Провести товар
    </button>
  </div>
  <div class="toolbar__add-new-position-block" *ngIf="isAddingNewPosition">
    <form
      [formGroup]="inventoryForm"
      (ngSubmit)="addInventory()"
      class="toolbar__form"
      *ngIf="isAddingNewPosition"
    >
      <div>
        <input
          formControlName="productId"
          type="text"
          placeholder="Продукт"
          [formControl]="chooseProductForm"
          [matAutocomplete]="productAutoComplete"
        />
        <p
          *ngIf="this.chooseProductForm.invalid && this.chooseProductForm.touched"
          [class]="
            this.chooseProductForm.invalid && this.chooseProductForm.touched
              ? 'input-warning shown'
              : 'input-warning'
          "
        >
          Укажите товар
        </p>
        <mat-autocomplete #productAutoComplete="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredProductOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div>
        <input
          formControlName="storageId"
          type="text"
          placeholder="Склад"
          [formControl]="chooseStorageForm"
          [matAutocomplete]="storageAutoComplete"
          mat-input
        />
        <p
          *ngIf="this.chooseStorageForm.invalid && this.chooseStorageForm.touched"
          [class]="
            this.chooseStorageForm.invalid && this.chooseStorageForm.touched
              ? 'input-warning shown'
              : 'input-warning'
          "
        >
          Укажите склад
        </p>
        <mat-autocomplete #storageAutoComplete="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredStorageOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div>
        <input formControlName="stock" type="text" placeholder="Остаток" mat-input />
        <p
          *ngIf="
            this.inventoryForm.get('stock')?.invalid &&
            this.inventoryForm.get('stock')?.touched
          "
          [class]="
            this.inventoryForm.get('stock')?.invalid &&
            this.inventoryForm.get('stock')?.touched
              ? 'input-warning shown'
              : 'input-warning'
          "
        >
          Укажите остаток(числом)
        </p>
      </div>
      <div class="toolbar__form__options">
        <button
          type="submit"
          [disabled]="
            this.inventoryForm.get('stock')?.invalid ||
            this.chooseStorageForm.invalid ||
            this.chooseProductForm.invalid ||
            inventoryForm.disabled
          "
        >
        <mat-icon>done</mat-icon>
        </button>
            <mat-icon (click)="isAddingNewPosition = !isAddingNewPosition">cancel</mat-icon>
      </div>
    </form>
  </div>
  </div>
  <div *ngIf="isErrorDisplay" class="request-error">
    {{ requestError }}
    <mat-icon class="error-close" (click)="this.isErrorDisplay = false"
      >close</mat-icon
    >
  </div>
  <div class="table"
    appSortTable
    [sortTable]="INVENTORY"
    [columnNum]="sortingColumn.column"
    [sortDirection]="sortingColumn.direction"
    [columns]="displayedColumns"
    >
    <div class="table__row table__headers">
      <span
        *ngFor="let header of displayedColumns; let i = index"
        (mouseenter)="handleTableHeaderHover(i)"
        (mouseleave)="handleTableHeaderHover('')"
      >
      <span *ngIf="header !== 'storageName'; else storageFilter"
        (click)="handleSortDirection(i)"
      >
        {{ header }}
      </span>
      <ng-template #storageFilter>
        <input
        type="text"
        placeholder="Склад"
        [matAutocomplete]="filterStorageAutocomplete"
        />
        <mat-autocomplete #filterStorageAutocomplete="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredStorageOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </ng-template>
        <mat-icon 
          *ngIf="sortingColumn.column === i || shownColumn === i && header !== 'storageName'"
          [ngClass]="sortingColumn.direction === 'desc' && sortingColumn.column === i ? 'direction-desc' : null"
          [class]="sortingColumn.direction === 'asc' && sortingColumn.column === i ? 'direction-asc' : ''"
          >expand_less</mat-icon
        >
      </span>
      <span
        (mouseenter)="handleTableHeaderHover('total')"
        (mouseleave)="handleTableHeaderHover('')"
        (click)="handleSortDirection(0)"
      >
        Всего
        <mat-icon
          *ngIf="sortingColumn.column === 'total' || shownColumn === 'total'"
          [ngClass]="sortingColumn.direction === 'desc' && sortingColumn.column === 'total' ? 'direction-desc' : null"
          [class]="sortingColumn.direction === 'asc' && sortingColumn.column === 'total' ? 'direction-asc' : ''"
          >expand_less</mat-icon
        >
      </span>
    </div>
    <div class="table__row" *ngFor="let row of INVENTORY">
      <span>{{ row.productName }}</span>
      <span>{{ row.productPrice | currency : "₽" }}</span>
      <span>{{ row.stock }}</span>
      <span>{{ row.storageName }}</span>
      <span>{{ row.productPrice * row.stock | currency : "₽" }}</span>
      <mat-icon>more_horiz</mat-icon>
    </div>
  </div>
</div>
