<div class="storages">
  <p class="storages__header">Список складов</p>
    <div class="storages__list">
      <div class="storages__list__item">
        <input type="text" placeholder="id" />
        <input type="text" placeholder="Название" />
        <mat-icon>add_circle_outline</mat-icon>
      </div>
      <div
        class="storages__list__item"
        *ngFor="let item of storages"
        [ngClass]="activeStorage === item.id ? 'active' : null"
        (click)="activeStorage=item.id"
      >
        <span>{{ item.id }}</span>
        <span>{{ item.name }}</span>
        <div class="storages__list__item__details" *ngIf="activeStorage===item.id">
          <p class="deteils-header">
            Информация о складе
            <span> {{item.name}}</span>
          </p>
          <p>Адрес: {{item.adress}}</p>
          <p>Расписание: {{item.schedule}}</p>
          <p>Телефон: {{item.phone ?? 'не указан'}}</p>
          <p>email: {{item.email ?? ' не указан'}}</p>
        </div>
      </div>
    </div>
    <div class="storages__active_storage_not_chosen" *ngIf="!activeStorage">
      <mat-icon>search</mat-icon>
      <p>Выберите склад</p>
    </div>
</div>
