<div class="storages">
  <h1 class="header">
    <span>Список складов</span>
    <input type="text" placeholder="id">
    <input type="text" placeholder="Название">
    <mat-icon (click)="openDialogue()">add</mat-icon>
  </h1>
  <div class="dialogue" *ngIf="isDialogueOpen">
    <div class="dialogue-content">
      <div class="dialogue-title">
        <h1>Добавить новый склад</h1>
        <mat-icon (click)="openDialogue()">close</mat-icon>
      </div>
      <input type="text" placeholder="Название*" required>
      <input type="text" placeholder="Адресс*" required>
      <input type="text" placeholder="Телефон">
      <input type="text" placeholder="email">
      <span class="dialogue-schedule-header">Расписание: </span>
      <div class="schedule">
        <span>Пн</span>
        <span>Вт</span>
        <span>Ср</span>
        <span>Чт</span>
        <span>Пт</span>
        <span>Сб</span>
        <span>Вс</span>
        <input type="checkbox" name="" id="" class="schedule-item">
        <input type="checkbox" name="" id="" class="schedule-item">
        <input type="checkbox" name="" id="" class="schedule-item">
        <input type="checkbox" name="" id="" class="schedule-item">
        <input type="checkbox" name="" id="" class="schedule-item">
        <input type="checkbox" name="" id="" class="schedule-item">
        <input type="checkbox" name="" id="" class="schedule-item">
      </div>
      <div class="toolbar">
        <button>
          <mat-icon>save</mat-icon>
        </button>
        <button>
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <mat-expansion-panel hideToggle *ngFor="let item of storages">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>{{ item.isActive ? "warehouse" : "ac_unit" }}</mat-icon>
        {{ item.name | titlecase }}
      </mat-panel-title>
      <mat-panel-description>
        {{ item.adress }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>id: {{ item.id }}</p>
    <p *ngIf="item.phone">phone: {{ item.phone }}</p>
    <p *ngIf="item.email">phone: {{ item.email }}</p>
    <p>Расписание:</p>
    <div class="schedule">
      <span>Пн</span>
      <span>Вт</span>
      <span>Ср</span>
      <span>Чт</span>
      <span>Пт</span>
      <span>Сб</span>
      <span>Вс</span>
      <span
        class="schedule-item"
        *ngFor="let scheduleItem of item.schedule"
        [ngClass]="scheduleItem ? 'active' : 'unactive'"
      ></span>
    </div>
    <div class="toolbar">
      <button>
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="item.isActive = !item.isActive">
        <mat-icon [ngClass]="!item.isActive ? 'active' : 'unactive'"
          >ac_unit</mat-icon
        >
      </button>
      <button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
</div>
